In [ ]:
#find how many times p1 won, p2 won, bring statistics on it

In [151]:
import pandas as pd
CSV_raw = pd.read_csv("C:\\Users\\MSA\\Python-repository\\InterestingCSV3.txt")
CSV = pd.DataFrame(CSV_raw)
print(CSV)
CSV

    P1   P2  P3  P4   P5
0  1.0  1.0   1   1  1.0
1  1.0  1.0   1   0  1.0
2  0.0  0.0   1   1  1.0
3  1.0  1.0   0   1  0.0
4  1.0  1.0   1   1  0.0
5  0.0  0.0   0   1  1.0
6  NaN  NaN   1   1  0.0
7  NaN  1.0   1   0  NaN

    P1   P2  P3  P4   P5
0  1.0  1.0   1   1  1.0
1  1.0  1.0   1   0  1.0
2  0.0  0.0   1   1  1.0
3  1.0  1.0   0   1  0.0
4  1.0  1.0   1   1  0.0
5  0.0  0.0   0   1  1.0
6  NaN  NaN   1   1  0.0
7  NaN  1.0   1   0  NaN

In [126]:
CSV[1:3]

    P1   P2   P3   P4   P5
1  1.0  1.0    1    0  1.0
2  0.0  0.0    1    1  1.0

In [152]:
CSV.columns

Index(['P1', 'P2', 'P3', 'P4', 'P5'], dtype='object')

In [153]:
CSV['P5']

0    1.0
1    1.0
2    1.0
3    0.0
4    0.0
5    1.0
6    0.0
7    NaN
Name: P5, dtype: float64

In [162]:
##[sum(CSV[i]) for i in range(5)]  #didnt work

In [ ]:
x = P4

In [164]:
#excel functions in pandas:
#http://pbpython.com/excel-pandas-comp.html

sum = CSV['P3'].sum()
sum

NameError: name 'X' is not defined

In [161]:
cnt = CSV['P3'].count()
cnt

8

In [160]:
pct = (sum/cnt)*100
print(round(pct), "%")

86.0 %

In [170]:
def countF( X ):
    sum = CSV[X].sum()
    cnt = CSV[X].count()
    pct = (sum/cnt)*100
    pctprint = print(pct, "%")
    return pctprint

In [171]:
countF('P3')

75.0 %