In [20]:
for kk in range(5):
    print ("We're on time %d")

We're on time %d
We're on time %d
We're on time %d
We're on time %d
We're on time %d

In [1]:
for i in 5:
    print("hello boys!")

TypeError: 'int' object is not iterable

In [5]:
f_e = ["hello",23,"Dear,",11,"How",44,"are",61,"you?",1]
f_e

['hello', 23, 'Dear,', 11, 'How', 44, 'are', 61, 'you?', 1]

In [8]:
fel = []
for rows in f_e:
    fel.append(rows)

fel

['hello', 23, 'Dear,', 11, 'How', 44, 'are', 61, 'you?', 1]

In [9]:
s_e = [["hello",23],["Dear,",11],["How",44],["are",61],["you?",1]]
s_e

[['hello', 23], ['Dear,', 11], ['How', 44], ['are', 61], ['you?', 1]]

In [13]:
sel = []
for rows in s_e:
    
    #the iterative variable 'rows', gets the values of 's_e' one by one
    #so on the first iteration, the value for rows is ["hello",23]
    #in the next statement we are assigning rows[1] value '23' to the variable 'ki'
    
    ki = rows[1]
    sel.append(ki)

sel
#check this vide to get good understanding of for loop in lists
#https://www.youtube.com/watch?v=xoL7aXFwDRE

[23, 11, 44, 61, 1]

In [19]:
sum = 0
for i in range(5):
    print("i:  ",i)
    sum = sum + i
    print("sum:",sum)

i:   0
sum: 0
i:   1
sum: 1
i:   2
sum: 3
i:   3
sum: 6
i:   4
sum: 10